@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IranYekan;
  src: url(components/font/Qs_Iranyekan.ttf);
}
@font-face {
  font-family: IranYekanBold;
  src: url(components/font/Qs_Iranyekan\ bold.ttf);
}

* {
  font-family: "IranYekan";
}

.text-xxs {
  font-size: 10.2px;
}

section {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
